- Set up hypothetical Data

In [6]:
import sys
sys.path.append(r'C:\Users\Admin\Desktop\Upwork\Sebastian_Jung\fuzzy_merger')

In [7]:
import util
print(util.__file__)

C:\Users\Admin\Desktop\Upwork\Sebastian_Jung\fuzzy_merger\util.py

In [8]:
import sys
sys.path.append(r'C:\Users\Admin\Desktop\Upwork\Sebastian_Jung\fuzzy_merger')
from merger import DataMerger

In [14]:
import pandas as pd

# Hypothetical Data for DataFrame 1 (df1)
data1 = {
    'email': ['john.doe@example.com', 'jane.smith@example.com', 'sanny@yahoo.com'],
    'firstname': ['John', 'Jane', "Shanny"],
    'lastname': ['Doe', 'Smith', 'Owuor'],
    'street': ['123 Maple Street', '456 Oak Avenue', '769 Phelgon Avenue'],
    'zip': ['12345', '67890', '23432'],
    'city': ['Metropolis', 'Gotham', 'Kisenye']
}

df1 = pd.DataFrame(data1)

# Hypothetical Data for DataFrame 2 (df2)
data2 = {
    'email': ['john.d@example.com', 'jane.s@example.com', 'sharon@yahoo.com'],
    'firstname': ['Jon', 'Janie', "Sharon"],
    'lastname': ['Do', 'Smith', 'Omwasi'],
    'street': ['123 Maple St', '456 Oak Ave', '345 Mali rahisi'],
    'zip': ['12345', '67890', '748475'],
    'city': ['Metropolis', 'Gotham', 'Sindo']
}

df2 = pd.DataFrame(data2)

In [15]:
df1

,email,firstname,lastname,street,zip,city
0,john.doe@example.com,John,Doe,123 Maple Street,12345,Metropolis
1,jane.smith@example.com,Jane,Smith,456 Oak Avenue,67890,Gotham
2,sanny@yahoo.com,Shanny,Owuor,769 Phelgon Avenue,23432,Kisenye

In [16]:
df2

                email firstname lastname           street     zip        city
0  john.d@example.com       Jon       Do     123 Maple St   12345  Metropolis
1  jane.s@example.com     Janie    Smith      456 Oak Ave   67890      Gotham
2    sharon@yahoo.com    Sharon   Omwasi  345 Mali rahisi  748475       Sindo

In [17]:
# Create an instance of DataMerger
merger = DataMerger(df1, df2)

# Perform the merge
merged_data = merger.merge_data()

print("Updated DataFrame 2:")
print(merged_data)

Updated DataFrame 2:
                email firstname lastname           street     zip        city
0  john.d@example.com       Jon       Do     123 Maple St   12345  Metropolis
1  jane.s@example.com     Janie    Smith      456 Oak Ave   67890      Gotham
2    sharon@yahoo.com    Sharon   Omwasi  345 Mali rahisi  748475       Sindo